/* Labels */
#nice-try-buddy
{
    padding-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#this-time-i-won
{
    padding-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#congratulations-buddy
{
    padding-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#you-won-the-game
{
    padding-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Buttons */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-13ln4jf.ea3mdgi5 > div > div > div > div:nth-child(3) > div:nth-child(1) > div > div > div > div > div > button
{
    border: 2px;
    border-radius: 5px;
    background-color: #111;
    font-size: 10px;
    color: rgba(255, 255, 255, .4);
    transition: all .8s;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-13ln4jf.ea3mdgi5 > div > div > div > div:nth-child(3) > div:nth-child(1) > div > div > div > div > div > button:hover
{
    color: white;
    text-shadow: 0 0 5px white;
    border: 1px solid rgba(255, 255, 255, .4);
    letter-spacing: 4px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-13ln4jf.ea3mdgi5 > div > div > div > div:nth-child(3) > div:nth-child(2) > div > div > div > div > div > button
{
    border: 2px;
    border-radius: 5px;
    background-color: #111;
    font-size: 10px;
    color: rgba(255, 255, 255, .4);
    transition: all .8s;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-13ln4jf.ea3mdgi5 > div > div > div > div:nth-child(3) > div:nth-child(2) > div > div > div > div > div > button:hover
{
    color: white;
    text-shadow: 0 0 5px white;
    border: 1px solid rgba(255, 255, 255, .4);
    letter-spacing: 4px;
}